td{
    text-align: center;
    color: white;
}

th{
    color: black;
    background-color: navajowhite;
}

tr[id='1']{
    background-color: #1486C2;
}

tr[id='2']{
    background-color: #1486C2;
}

tr[id='3']{
    background-color: #C26D00;
}

tr[id='4']{
    background-color: #C26D00;
}

tr[id='5']{
    background-color: #53C20A;
}

tr[id='6']{
    background-color: #53C20A;
}

tr[id='7']{
    background-color: #2E345C;
}

tr[id='8']{
    background-color: #2E345C;
}

tr[id='9']{
    background-color: #BC27C2;
}

tr[id='10']{
    background-color: #BC27C2;
}

@media screen and (max-width:400px){
    table{
        width: 50%;
    }
}